body {
    font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3 {
    font-family: "Lobster", cursive;
}

h2 {
    color: #3046C5;
    
}
header h1 {   /* header 1 and 2 is to move the title for tasks final pic*/
    margin-left: 35px;
}
header h2 {
    color: #CEC8FF;
    margin-left: 35px;
}

footer {
    background-image: linear-gradient(#CEC8FF, white);
    padding: 20px 0;
}

.jumbotron {
    padding: 30px;
    background-image: linear-gradient(to right, #5637DD, #3046C5, #60106B);
    color: white;

}

.row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
}
hr {  /* Hr to create line break under About us, modified to line with <p> */
    margin-top: 4%; 
    margin-bottom: 6%;
    margin-left: 17px; 
  }
